graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include tox.ini
{% if cookiecutter.sphinx_docs == 'yes' and 'readthedocs' in cookiecutter.sphinx_docs_hosting -%}
include .readthedocs.yml
{% endif -%}
{% if cookiecutter.pre_commit == "yes" -%}
include .pre-commit-config.yaml
{% endif -%}

include LICENSE
include README.md


global-exclude *.py[cod] __pycache__/* *.so *.dylib
